body{
    background-color: yellow;
}

.left-side {
    height: 100vh;
    border-right: 2px solid black; /* Linha vertical */
    display: flex;
    flex-direction: column;
}

.right-side {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Remover a borda inferior da última linha */
.left-side .line:last-child,
.right-side .line:last-child {
    border-bottom: none;
}

.line {
    flex: 1; /* Faz com que todas as linhas tenham a mesma altura */
    border-bottom: 1px solid gray; /* Linha horizontal */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px; /* Espaçamento interno */
}

/* Estilizar o strong */
.line strong {
    margin-right: 5px;
}
