@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: rgb(0, 0, 0);
    font-family: 'Oswald', sans-serif !important;
}

h1 {
    color: white;
}

.table-div {
    background-color: yellow;
    margin-left: 15%;
    margin-right: 15%;
    height: 83vh;
    overflow: auto;
    padding: 10px;
}

.buttons-div {
    background-color: rgb(223, 223, 0);
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 10px;
    height: 45px;
}

td, label, a {
    padding: 8px;
    text-align: left;
    font-size: 30px;
    color: black;
}

td:first-child {
    border-right: 1px solid black; /* Border between the first and second column */
}

.btn-secondary {
    background-color: red;
}